.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 105, 95);
  padding: 20px 20px;
  position: fixed;
  width: 100%;
}

.nav-logo {
  padding-top: 5px;
  font-size: 24px;
  color: white;
  margin-left: 10px;
}

.nav-logo img {
  width: 110px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
}

.nav-links li a:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(15, 100, 87); /* atau warna yang Anda inginkan */
  border-radius: 10px;
  padding: 7px;
}

.nav-profile a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}

.nav-profile img {
  height: 30px;
  width: 30px;
}

.nav-profile a:hover {
  text-decoration: underline;
}

.nav-links a.active {
  color: rgb(35, 105, 95);
  background-color: white; /* atau warna yang Anda inginkan */
  border-radius: 10px;
  padding: 7px;
}
